form action="/newpost" method="POST"
        input name="blog_title" placeholder="Blog title" type="text"
        input name="blog_text" placeholder="Blog text" type="text"
        input type="submit" value="Post"
